In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import datetime

In [22]:
price_df= pd.DataFrame(columns=["Institution","Date","Time","Rate Type","Rate Label","Rate"])
price_df.head()

Empty DataFrame
Columns: [Institution, Date, Time, Rate Type, Rate Label, Rate]
Index: []

## CBA Rates

In [23]:
# URL Call
url = "https://www.commbank.com.au/home-loans/standard-variable-rate.html"
response = requests.get(url)

# Create a BeautifulSoup object from the response content
page = BeautifulSoup(response.content, "html.parser")

# Find the HTML elements that contain the pricing details
temp_scrape = page.find_all("div", class_="blurb")

# Iterate over the pricing elements and extract the details
for rate_types in temp_scrape:
    
    rate_label = rate_types.text.strip().replace("*", "")
    rate_val = rate_types.find_previous("span",class_="number").text.strip()
       
    # Create a new DataFrame with the text to append
    temp_df = pd.DataFrame({"Rate Type": "Variable", 
                            "Rate Label":[rate_label],
                            "Institution":'CBA',
                            "Date":datetime.date.today(),
                            "Time":datetime.datetime.now().strftime("%H:%M:%S"),
                            "Rate":rate_val})
    
    # Concatenate the new DataFrame with the existing DataFrame
    price_df = pd.concat([price_df, temp_df], ignore_index=True)    
    
price_df.head()

  Institution        Date      Time Rate Type       Rate Label  Rate
0         CBA  2023-07-16  15:54:30  Variable    Interest rate  6.24
1         CBA  2023-07-16  15:54:30  Variable  Comparison rate  6.62

## Macquarie Rates

In [24]:
# URL Call
url = "https://www.macquarie.com.au/home-loans/variable-home-loans.html"
response = requests.get(url)

# Create a BeautifulSoup object from the response content
page = BeautifulSoup(response.content, "html.parser")

# Find the HTML elements that contain the pricing details
temp_scrape = page.find_all("div", class_="rates-strip__big-number")

# Iterate over the pricing elements and extract the details
for rate_types in temp_scrape:
        
    rate_val = rate_types.text.strip()
    rate_label = rate_types.find_next("div",class_="rates-strip__description").text.strip().replace("â€¡", "")
           
    # Create a new DataFrame with the text to append
    temp_df = pd.DataFrame({"Rate Type": "Variable", 
                            "Rate Label":[rate_label],
                            "Institution":'Macquarie',
                            "Date":datetime.date.today(),
                            "Time":datetime.datetime.now().strftime("%H:%M:%S"),
                            "Rate":rate_val})
    
    
    # Concatenate the new DataFrame with the existing DataFrame
    price_df = pd.concat([price_df, temp_df], ignore_index=True)    
    
price_df.head()

  Institution        Date      Time Rate Type       Rate Label  Rate
0         CBA  2023-07-16  15:54:30  Variable    Interest rate  6.24
1         CBA  2023-07-16  15:54:30  Variable  Comparison rate  6.62
2   Macquarie  2023-07-16  15:54:33  Variable    Interest rate  5.79
3   Macquarie  2023-07-16  15:54:33  Variable  Comparison rate  5.81

## Westpac Rates

In [25]:
# URL Call
url = "https://www.westpac.com.au/personal-banking/home-loans/variable/"
response = requests.get(url)

# Create a BeautifulSoup object from the response content
page = BeautifulSoup(response.content, "html.parser")

# Find the HTML elements that contain the pricing details
temp_scrape = page.find_all("td", class_="col-sm-5")

# Iterate over the pricing elements and extract the details
for rate_types in temp_scrape:
    rate_string=rate_types.text.strip()
    
    rate_val = rate_string.split('p.a.')[0].replace("%","")
    rate_label = rate_string.split('p.a.')[1].strip().replace("^", "").replace("*", "")
               
    # Create a new DataFrame with the text to append
    temp_df = pd.DataFrame({"Rate Type": "Variable", 
                            "Rate Label":[rate_label],
                            "Institution":'Westpac',
                            "Date":datetime.date.today(),
                            "Time":datetime.datetime.now().strftime("%H:%M:%S"),
                            "Rate":rate_val})
    
    
    # Concatenate the new DataFrame with the existing DataFrame
    price_df = pd.concat([price_df, temp_df], ignore_index=True)    
    
price_df.head(10)

,Institution,Date,Time,Rate Type,Rate Label,Rate
0,CBA,2023-07-16,15:54:30,Variable,Interest rate,6.24
1,CBA,2023-07-16,15:54:30,Variable,Comparison rate,6.62
2,Macquarie,2023-07-16,15:54:33,Variable,Interest rate,5.79
3,Macquarie,2023-07-16,15:54:33,Variable,Comparison rate,5.81
4,Westpac,2023-07-16,15:54:38,Variable,2-yr intro discount on variable rate,5.99

## ANZ Rates